.moviescenter
  %p
    %b= t('.title')
    = @movie.title
  %p
    %b= t('.genre')
    = @movie.genre
  %p
    %b= t('.runtime')
    = @movie.runtime
  %p
    %b= t('.watch_date')
    = @movie.watch_date
  %p
    %b= t('.score')
    = @movie.score

  %p= button_to t('.edit'), edit_movie_path(@movie), :method => :get

  %p
    %b= t('.reviews')
  %table
    %tbody
      - @movie.reviews.each do |review|
        %tr{id: "review_#{review.id}"}
          %td= review.content
          %td= link_to t('.show'), review
          %td= link_to t('.edit'), edit_review_path(review)
          %td= link_to t('.destroy'), review, :method => :delete, :data => {:confirm => t('.sure')}, :remote => true

  %p= button_to t('.addreview'), new_review_path, :method => :get, params: {movie_id: @movie.id}

  %p= link_to t('.back'), movies_path
