.moviescenter
  %p#notice= notice

  %p
    %b= t('.title')
    = @movie.title
  %p
    %b= t('.genre')
    = @movie.genre
  %p
    %b= t('.runtime')
    = @movie.runtime
  %p
    %b= t('.watch_date')
    = @movie.watch_date
  %p
    %b= t('.score')
    = @movie.score

  = link_to t('.addreview'), new_review_path(movie_id: @movie)
  \|
  = link_to t('.edit'), edit_movie_path(@movie)
  \|
  = link_to t('.back'), movies_path
